.question-box {
  width: 80%;
  padding: 40px;
  margin:0 auto;
  background:rgb(182, 176, 176);
  border-radius: 10px;
}

.img {
      border-radius: 10px ;
    border: solid rgb(128, 128, 128) 10px;
    height:200px ;
    width: 50%;
    text-align: center;
    

} 
.quiz-item-header {
  background-color: white;
  border-radius: 10px 10px 0 0;
  border: solid rgb(206, 200, 200) 10px;
  border-bottom-width: 0;
}

.quiz-item-footer {
  background-color: rgb(226, 212, 212);
  border: solid rgb(129, 129, 129) 10px;
  border-radius: 0 0 10px 10px;
  border-top-width: 0;
  padding: 15px;
}

button {
  margin-top:10px;
  height: auto;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color:black;
  background: grey;
  border: 0;
  cursor: pointer;
  margin-bottom: 0;
  border-radius:10px;
  padding: 10px 20px;
}

.button-square {
  display: inline-block;
  font-family: ;
  background-color: grey;
  padding: 10px;
  border-radius: 5px;
}


.correct, .incorrect {
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  display: inline-block;
  margin-right: 5px;
  border: solid black 1px;
  font-weight: bold;

}

.js-quiz-item-feedback-section {
  display: inline-block;
  font-family: ;
  font-size: 22px;
  color: black;
}

